//script(type='text/javascript')
//		head.js(
//				"https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js",
//				"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js",
//				"/javascripts/underscore/underscore-min.js",
//				"/javascripts/backbone/backbone-min.js",
//				"/nowjs/now.js",
//				"/javascripts/models.js"
//			);

append head
		script(data-main="/javascripts/main", src='/javascripts/libs/require/require.js')


div userId
//script(type='text/javascript')		
//		head.ready(function() {
//			var searchView = new SearchView();
//			var sessModel = new SessionCreationModel();
//			var sessCreateView = new SessionCreationView({model: sessModel});
//			//var app = new CompleterApp()
//			//var appView = new CompleterAppView({model: app});			
//			//now session feed function
//			var courseCollection = new CourseCollection();
//			//var seshCollection = new SeshCollection();
//			now.distributeSession = function (session) {
//				var courseId = session.course;
//				var course = courseCollection.get(courseId);	
//				if (course != null) {
//					var sess = new SessionModel({title: session.title, course: course.get('name'), id: session._id});
//					var sessView = new SessionView({model: sess});
//				}
//			}
//			$(function() {
//				$("#time-input").datepicker();
//			});
//		});




#session-view(style='display: none')
	.span3 {{ tile }}
	.span3 {{ course }}
	a.span2.btn#add-session Add

.span3
	include includes/sidebar		
.span9	
	
	
	#session-creation
		div
			button#create-session.btn Create a Session
		div#select-course
			span Select Course:
			select#select-course-input
				each course in userdata.classes
					option(value=course._id) #{course.name}
			
		div#time
			span Select Date:
			input#time-input
			select#hour-pick
				each _ in [00,01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23]
					option #{_}:00
					option #{_}:30
			// select#halfday-pick
					option AM
					option PM
		div#title
			span Enter a Title:
			input#title-input
		div#location
			span Enter a location:
			input#location-input
		div#description
			span Description:
			textarea#description-input
		button#submit-session.btn Submit
	#session-feed
		each session in sessionfeed
			#session-view
				.span3 #{session.title}
				.span3(id=#{session.course._id}) #{session.course.name}
				a.span2.btn#add-session Add


