include layout

.logo-box   
    h1.biglogo Seshlr
.hero-unit.index-page
    - if ('undefined' !== typeof errors && errors.length)
      ul#errors
        - each error in errors
          li.error= error
    form(action='/login', method='post')
        #email
            label(for=everyauth.password.loginFormFieldName) Email
            input(type='text', name=everyauth.password.loginFormFieldName, value=email)
        #password
            label(for=everyauth.password.passwordFormFieldName) Password
            input(type='password', name=everyauth.password.passwordFormFieldName)
        #submit
            input(type='submit') Login
footer
    p Pekt Labs