
//script(type='text/javascript')
//		head.ready(function() {
//			// Eventually need to use backbone for this.
//			now.distributeSessionComment = function(comment, author) {
//				$('.nocomments').html('');
//				$('#comments').append('<p>' + comment.text + '</p>');
//			}
//			
//			$('.delete').click(function() {
//				now.removeSession("!{session._id}");
//			});
//			
//			$('.addcomment').click(function() {
//				var comment = $('.commentbox').val();
//				now.addSessionComment(comment, "!{userdata.name}", "!{session._id}");
//				$('.commentbox').val('');
//			});
//				
//		});

.span3
	include ../includes/sidebar
.span9
	p #{session.title}
	a.delete(href="#") Click Here to delete this session.
	#commentarea
		h4 Comments
		#comments
			if session.comments.length == 0
				p.nocomments There are no comments for this session.
			each comment in session.comments
				p #{comment.text}
		h5 Add a comment.
		#commentbox
			input.commentbox(type='textarea')
			br
			a.addcomment(href="javascript:void(0)") Post
		
