script(type='text/javascript')
		head.js(
				"https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js",
				"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js",
				"/javascripts/underscore/underscore-min.js",
				"/javascripts/backbone/backbone-min.js",
				"/nowjs/now.js"
				
			);
script(type='text/javascript')
		head.ready(function() {
			// Eventually need to use backbone for this.
			now.distributeSessionComment = function(comment, author) {
				$('#comments').append('<p>' + comment.text + '</p>');
			}
			
			$('.delete').click(function() {
				now.removeSession("!{session._id}");
			});
			
			$('.addcomment').click(function() {
				var comment = $('.commentbox').val();
				now.addSessionComment(comment, "!{userdata.name}", "!{session._id}");
			});
				
		});

.span3
	include ../includes/sidebar
.span9
	p #{session.title}
	a.delete(href="#") Click Here to delete this session.
	#commentarea
		h4 Comments
		#comments
			each comment in session.comments
				p #{comment.text}
		h5 Add a comment.
		#commentbox
			input.commentbox(type='textarea')
			br
			a.addcomment(href="javascript:void(0)") Post
		
